h1 {
  position: fixed;
  color: white;
  top: 2%;
  left: 20%;
  font-size: 5vw;
  min-height: 980px;
  z-index: -1;
}

h1 .chapter {
  position: fixed;
  top: 2.5vw;
}

h1 .vertical {
  position: fixed;
  right: calc(46% + 9vw);
  top: 2vw;
  font-size: 9vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

h1 .beside {
  position: fixed;
  top: 29vw;
  left: 46%;
  font-size: 9vw;
}

.main {
  width: 100%;
  height: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-color: black;
  position: absolute;
  top: max(40vw, 30vh);
  overflow: hidden;
}

.main .alert-line {
  width: 100%;
  height: 4vw;
  background: repeating-linear-gradient(-45deg, transparent 0px, transparent 6px, yellow 6px, yellow 12px);
  border: 2px solid yellow;
}

.main .title {
  position: absolute;
  top: 10vw;
  left: 2%;
  width: 70%;
  height: 10%;
  background-color: yellow;
}

.main .title::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: black;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.main .title .ja {
  font-size: min(5vw, 60px);
}

.main .title .en {
  font-size: min(3vw, 30px);
}

.main .intro {
  position: absolute;
  top: 22%;
  width: 90vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .intro .name {
  position: relative;
  height: 9vh;
  min-height: 90px;
  width: 35%;
  background-color: yellow;
  -webkit-clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
}

.main .intro .name .name-inside {
  position: absolute;
  height: 95%;
  width: 98%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  -webkit-clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 85% 0%, 100% 50%, 85% 100%, 0 100%, 0% 50%);
  color: yellow;
  text-align: center;
}

.main .intro .name .name-inside h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.main .intro .name .name-inside .ja {
  top: 10%;
  font-size: min(3.5vw, 40px);
}

.main .intro .name .name-inside .en {
  top: 60%;
  font-size: min(2vw, 20px);
}

.main .intro .line {
  position: absolute;
  width: 71%;
  height: 2px;
  top: 50%;
  right: -5.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: yellow;
  z-index: 5;
}

.main .intro .name-container {
  position: absolute;
  top: 180%;
  width: 100%;
  height: 50vw;
  min-height: 50vh;
  border: 2px solid yellow;
  border-radius: 10px;
  color: yellow;
  text-align: center;
}

.main .intro .name-container .explanation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  letter-spacing: 1px;
}

.main .intro .name-container .explanation p {
  font-size: min(3vw, 30px);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.main .intro .name-container .explanation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  background-color: yellow;
  top: -12%;
  left: 0;
}

.main .intro .name-container .explanation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  background-color: yellow;
  bottom: -12%;
  left: 0;
}

.cannotsee {
  display: none;
}

.index {
  position: fixed;
  top: 3%;
  right: 3%;
  height: 11%;
  min-height: 100px;
  width: 15%;
  background-color: yellow;
  -webkit-clip-path: polygon(14% 0, 86% 0, 100% 50%, 86% 100%, 14% 100%, 0% 50%);
          clip-path: polygon(14% 0, 86% 0, 100% 50%, 86% 100%, 14% 100%, 0% 50%);
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.index .index-inside {
  position: absolute;
  height: 95%;
  width: 97%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: black;
  -webkit-clip-path: polygon(14% 0, 86% 0, 100% 50%, 86% 100%, 14% 100%, 0% 50%);
          clip-path: polygon(14% 0, 86% 0, 100% 50%, 86% 100%, 14% 100%, 0% 50%);
  color: yellow;
}

.index .index-inside .ja {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
  font-size: min(4vw, 40px);
  font-weight: 600;
  white-space: nowrap;
}

.index .index-inside .en {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
  font-size: min(2vw, 20px);
  font-weight: 600;
  white-space: nowrap;
}

.index:hover {
  background-color: black;
}

.index:hover .index-inside {
  background-color: yellow;
  color: black;
}

.fadeIn {
  -webkit-animation: fade forwards 2s;
          animation: fade forwards 2s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader2 .title {
  background-color: yellow !important;
}
/*# sourceMappingURL=about.css.map */